body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.gallery .images {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.gallery img {
    width: 300px;
    border-radius: 6px;
}

.branches ul {
    list-style: none;
    padding: 0;
}

.link-reservasi {
    text-align: center;
}

.link-reservasi a {
    background: #111;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.link-reservasi a:hover {
    background: #333;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}